@tailwind base;
@tailwind components;
@tailwind utilities;

.table-h {
  @apply flex-grow pl-4 font-bold
}

.table-row {
  @apply h-full pl-4 pt-4
}

.status {
  @apply rounded-full px-3 py-2 text-sm text-white
}

.employee-card {
  @apply mb-1 text-gray-500
}

.employee-data {
  @apply ml-1 text-gray-800
}